---
http_interactions:
- request:
    method: get
    uri: https://api.shipit.cl/v/communes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Shipit-Email:
      - staff@shipit.cl
      X-Shipit-Access-Token:
      - v8fH62dPTULmrAEXxhzB
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6633279d919808cea13cf495035acc01"
    body:
      encoding: UTF-8
      string: '[{"id":6,"region_id":2,"name":"ALTO HOSPICIO","code":"01107","is_starken":null,"is_chilexpress":null,"is_generic":true,"is_reachable":true,"created_at":"2016-12-16T03:12:23.415-03:00","updated_at":"2016-12-16T03:12:23.415-03:00","couriers_availables":{"starken":"ALTO
        HOSPICIO","chilexpress":"ALTO HOSPICIO","correoschile":"ALTO HOSPICIO"},"is_available":false},{"id":12,"region_id":3,"name":"ANTOFAGASTA","code":"02101","is_starken":null,"is_chilexpress":null,"is_generic":true,"is_reachable":true,"created_at":"2016-12-16T03:12:23.458-03:00","updated_at":"2016-12-16T03:12:23.458-03:00","couriers_availables":{"starken":"ANTOFAGASTA","chilexpress":"ANTOFAGASTA","correoschile":"ANTOFAGASTA"},"is_available":false},{"id":58,"region_id":6,"name":"CABILDO","code":"05402","is_starken":null,"is_chilexpress":null,"is_generic":true,"is_reachable":true,"creat[...]
- request:
    method: get
    uri: https://api.shipit.cl/v/communes/12
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Shipit-Email:
      - staff@shipit.cl
      X-Shipit-Access-Token:
      - v8fH62dPTULmrAEXxhzB
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1c4c3f1931ac2f2c4762653a1733092f"
    body:
      encoding: UTF-8
      string: '{"id":12,"region_id":3,"name":"ANTOFAGASTA","code":"02101","is_starken":null,"is_chilexpress":null,"is_generic":true,"is_reachable":true,"created_at":"2016-12-16T03:12:23.458-03:00","updated_at":"2016-12-16T03:12:23.458-03:00","couriers_availables":{"starken":"ANTOFAGASTA","chilexpress":"ANTOFAGASTA","correoschile":"ANTOFAGASTA"},"is_available":false}'
  recorded_at: Tue, 20 Mar 2018 15:50:37 GMT
recorded_with: VCR 4.0.0
