---
http_interactions:
- request:
    method: get
    uri: https://api.shipit.cl/v/skus
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Shipit-Email:
      - staff@shipit.cl
      X-Shipit-Access-Token:
      - v8fH62dPTULmrAEXxhzB
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b7b2d21d09aef9c935f0720acde6495d"
    body:
      encoding: UTF-8
      string: '[{"id":3998,"name":"SKU-011","amount":3,"min_amount":20,"company_id":1,"position":null,"description":"SKU-ENVIOS-assaS","created_at":"2017-02-22T10:36:57.162-03:00","updated_at":"2017-12-27T13:01:14.938-03:00","warehouse_id":2,"width":10.0,"length":10.0,"height":10.0,"weight":0.5,"ws_amount":0,"ws_updated_at":null},{"id":7202,"name":"tst-hirp-22","amount":11776,"min_amount":5,"company_id":1,"position":null,"description":"tst-hirp-22","created_at":"2017-11-27T10:48:05.100-03:00","updated_at":"2018-02-06T12:05:55.460-03:00","warehouse_id":1,"width":22.0,"length":22.0,"height":22.0,"weight":2.0,"ws_amount":0,"ws_updated_at":null},{"id":7070,"name":"1-TEST
        8000","amount":8724,"min_amount":450,"company_id":1,"position":null,"description":null,"created_at":"2017-10-31T20:14:45.053-03:00","updated_a[...]
- request:
    method: get
    uri: https://api.shipit.cl/v/skus/3998
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Shipit-Email:
      - staff@shipit.cl
      X-Shipit-Access-Token:
      - v8fH62dPTULmrAEXxhzB
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"343c110da207c39a38bca52e56643a66"
    body:
      encoding: UTF-8
      string: '{"id":3998,"name":"SKU-011","amount":3,"min_amount":20,"company_id":1,"position":null,"description":"SKU-ENVIOS-assaS","created_at":"2017-02-22T10:36:57.162-03:00","updated_at":"2017-12-27T13:01:14.938-03:00","warehouse_id":2,"width":10.0,"length":10.0,"height":10.0,"weight":0.5,"ws_amount":0,"ws_updated_at":null}'
  recorded_at: Tue, 20 Mar 2018 15:51:07 GMT
recorded_with: VCR 4.0.0
